
<main class="h-screen w-full bg-stone-100 overflow-hidden font-sans text-stone-800">
  @if (currentView() === 'home') {
    <app-home 
      (startGame)="toGame()" 
      (resumeGame)="resumeGame()"
      (viewStats)="toStats()">
    </app-home>
  }

  @if (currentView() === 'game') {
    <app-game 
      [stage]="currentStage()"
      [startScore]="runningTotal()"
      [initialState]="resumeState()"
      (requestRestart)="handleRestartGame()"
      (requestNextStage)="handleNextStage($event)"
      (requestStats)="toStats()">
    </app-game>
  }

  @if (currentView() === 'stats') {
    <app-stats 
      (goHome)="toHome()">
    </app-stats>
  }
</main>
